body{
    font-family: 'Times New Roman', Times, serif;
    /*list-style-type: style display;*/
    background: gainsboro;
}

/*premier en tete*/

.navbar{
    width: 1292px;
    height: 50px;
    background: rgb(0, 220, 220);
    position: relative;
    top: -20px;
    right: 10px;
 }


 #ul{
    position: relative;
    top: -50px;
    right: 100px;
    display: flex;
    float: right;
    align-items: center;
    justify-content: center;
    color: white;
}


#ul li{
    margin-left: 20px;
    list-style: none;
}

#ul li a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}








img{
    border-radius: 100%;
}

header,i{
    background-color:rgba(0,220,220); 
}
i{/*style sur le Lieu du rendez-vous*/
    position: absolute;
    top: 220px;
}

thead{
   background-color: rgba(0,220,220);
}

th,td{
    padding: 10px;
    border: 1px solid black;/* On applique un bordure de 2pixels a table avec une couleur bleue*/
}
.table-style{/*style sur le tableau*/    
position: absolute;
border-collapse: collapse;/*Colle les lignes et colonnes du tableau*/
min-width:200px;
width: auto;
height: 100px;
top: 250px;
margin: 2px 10px 100px 500px;/*Permet de positionner le tableau
padding-bottom: 1000px;*/
border: 2px solid black;
}
section{
    position: relative;
    margin-top: 50px;
    margin-right: 900px;
    width: 280px;
    background-color:none;
}
h4,h5{
    color: blue;
}

caption h3{
    text-decoration: underline;
    color: black;
}
table{
    position: relative;
    margin-top: -100px;
}

