body{
    font-family: 'Times New Roman', Times, serif;
    /*list-style-type: style display;*/
    background: gainsboro;
}

/* Style de l'en-tete de la page statistiques et rapports*/
header{
    background: aqua;
    margin-top: 20px;
}

/*Le style du titre de la page statistiques et rapports*/
#titre1{
   position: relative;
   text-align: center;
   color: aqua;
   background: black;
   margin-left:20px ;
   margin-right: 10px;
   padding: 20px;

}

/*style du table de statistiques et rapports*
table{
    margin-top: 10px;
    margin-bottom: 200px;
    height: 10px;
    width: 10px;
}*/

.tab1 {
    position: absolute;
    border-collapse: collapse;
    min-width:200px;
    width: auto;
    height: 100px;
    padding-top: 100px;
    margin: 2px 10px 100px 500px;
    border: 2px solid black;
}



#titrecol5{
    display: none;
}

thead th{
    background-color:aqua;
    color:black;
    text-align: center;

}

th,td{
    padding: 10px 30px;
    border: 1px solid black;
}

caption{
    padding-bottom: 10px;
}
caption strong{
    color:black;
    background-color: white;
    text-decoration: underline black;
}
/*
tr{
    border: 1px black solid;
}
.ligne--{
    border: 1px black solid;
}*/

 h3{
    color: blue;
}

section{
    position:absolute;
    margin-right: 10px;
    margin-top: 10px;
    background:gainsboro;
    height: 200px;

}