/* Réinitialisation des marges et des rembourrages pour le corps de la page */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    /* Ajout d'une image de fond centrée et redimensionnée pour couvrir la page */
    background: url('medical.jpg') no-repeat;
    background-size: 100%; */
    text-align: center; /* Centre le texte horizontalement */
}

/* Styles pour le formulaire */
.Formulaire_report {
    position: absolute; /* Positionnement absolu pour centrer le formulaire */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centre le formulaire verticalement et horizontalement */
    padding: 20px;
    background: transparent;
    text-align: center; /* Centre le texte à l'intérieur du formulaire */
    border-radius: 20px; /* Coins arrondis pour le formulaire */
    border: 2px solid white;

}

/* Style pour le titre du formulaire */
h2 {
    font-size: 28px;
}

/* Styles pour les étiquettes des champs */
label {
    display: block;
    text-align: left; /* Aligne le texte à gauche */
    margin: 10px 0; /* Marge en haut et en bas des étiquettes */
}

/* Styles pour les champs de saisie */
input {
    padding: 10px;
    margin: 5px 0; /* Marge en haut et en bas des champs */
    border: none;
    border-radius: 5px; /* Coins arrondis pour les champs */
}

/* Styles pour les champs de sélection des minutes */
select#selection {
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    width: 176px;
    background-color: white;
}

/* Styles pour les options de sélection dans le champ "minutes" */
select#selection option {
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
}

/* Styles pour le bouton de soumission */
input[type="submit"] {
    background-color: #3498db;
    color: white;
    cursor: pointer;
    display: block;
    margin-top: 10px;
}

/* Styles au survol du bouton de soumission */
input[type="submit"]:hover {
    background-color: #2581c7;
}
